PORT=4255
NODE_ENV=development
MONGODB_URI=mongodb+srv://YearGoal:Suraj1998@cluster0.ftfks.mongodb.net/year-goals
JWT_SECRET=dGpL4m3cXAk3egHWo0XIBCKWhs19UHJVV2hHhxm6JID
CORS_ORIGIN=http://localhost:8541
